@import "tailwindcss";


@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide-right {
  animation: slide-right 0.25s ease-out;
}